<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Агентство недвижимости</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-sandstone.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Агентство недвижимости</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>*@
                    <li>
                        <a asp-area="" id="Estates" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Недвижимость</a>
                        <div class="dropdown-menu" aria-labelledby="Estate">
                            <a class="dropdown-item" asp-controller="SaleEstates" asp-action="Index">Продажа</a>
                            <a class="dropdown-item" asp-controller="RentEstates" asp-action="Index">Аренда</a>
                        </div>
                    </li>
                    <li>
                        <a asp-area="" id="Clients" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Клиенты</a>
                        <div class="dropdown-menu" aria-labelledby="Clients">
                            <a class="dropdown-item" asp-controller="People" asp-action="Index">Физические лица</a>
                            <a class="dropdown-item" asp-controller="Firms" asp-action="Index">Юридические лица</a>
                        </div>
                    </li>
                    <li>
                        <a asp-area="" id="Treaties" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Договоры</a>
                        <div class="dropdown-menu" aria-labelledby="Treaties">
                            <a class="dropdown-item" asp-controller="SaleTreaties" asp-action="Index">Купля-продажа</a>
                            <a class="dropdown-item" asp-controller="Leases" asp-action="Index">Аренда</a>
                        </div>
                    </li>
                    @*<li><a asp-area="" asp-controller="Statistics" asp-action="StatisticAverageRent">Аналитика</a></li>*@
                    <li>
                        <a asp-area="" id="Analize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Аналитика</a>
                        <div class="dropdown-menu" aria-labelledby="Analize">
                            <a class="dropdown-item" asp-controller="Statistics" asp-action="RentTypesAnalize">Типы арендуемой недвижимости</a>
                            <a class="dropdown-item" asp-controller="Statistics" asp-action="StatisticAverageSale">Средняя цена продажи</a>
                            <a class="dropdown-item" asp-controller="Statistics" asp-action="StatisticAverageRent">Средняя цена аренды</a>
                        </div>
                    </li>
                    <li>
                        <a asp-area="" id="Applications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Оставить заявку</a>
                        <div class="dropdown-menu" aria-labelledby="Applications">
                            <a class="dropdown-item" asp-controller="SaleApplications" asp-action="Create">Купля-продажа</a>
                            <a class="dropdown-item" asp-controller="RentApplications" asp-action="Create">Аренда</a>
                            <a class="dropdown-item" asp-controller="SaleApplications" asp-action="Index">Список заявок на покупку</a>
                            <a class="dropdown-item" asp-controller="RentApplications" asp-action="Index">Список заявок на аренду</a>
                        </div>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">О нас</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Агентство недвижимости</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
